<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            {{ style|raw }}
        </style>
    </head>
    <body>
        <div class="header">
            <img src="data:image/jpg;base64,{{ logo|raw }}">
            <div class="h1">
                EduLabs<br>
                <a href="{{ base_url() }}">{{ base_url() }}</a>
            </div>

        </div>
        {% include 'receive_equip/result.twig' %}
    </body>
</html>
