{% extends "layout.twig" %}

{% block content %}
    <div id="receive-equip-success">
        {% include 'receive_equip/result.twig' %}
        <div class="row no-print">
            <div class="col-xs-12 text-center">
                <a href="{{ path_for('receive_equip.report') }}" class="btn btn-lg btn-primary btn-print">Εκτύπωση</a>
            </div>
        </div>
        <br>
    </div>
{% endblock %}

{% block htmlHead %}
    {{ parent() }}
    <style media="print" type="text/css">
        #receive-equip-success .no-print {display: none;}
    </style>
{% endblock %}
