/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.home.jumbotron {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.home.jumbotron img {
    margin: 20px;
}
.home.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.home.jumbotron p, .home.jumbotron li {
    font-size: 120%;
}

.home.jumbotron h1 {
    text-align: center;
    font-size: 210%;
}

.home.jumbotron p.lead {
    
}

.about p {
    font-size: 110%;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .home.jumbotron {
    border-bottom: 0;
  }
}

/* file upload input */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* school */

#school .school-container tbody tr[data-id] {
  cursor: pointer;
}

/* app-form */

#app-form #items-list tbody tr:first-of-type button.remove-row { 
    display: none;
}


.select2-container {
  width: auto!important;
}