<nav>
    <ul class="nav nav-pills pull-right">
    {% for page in nav('main') %}
        <li role="presentation"  class="{% if page.active %}active{% endif %}">
            <a href="{{ page.href }}" {% if page.id %}id="{{ page.id }}"{% endif %} >
                {{ page.label }}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>