{% extends '@application/index.twig' %}

{% block content %}
    <div class="row in-numbers">
        <div class="col-md-9">{{ parent() }}</div>
        <div class="col-md-3">
            <div class="panel panel-default panel-in-numbers">
                <div class="panel-heading">
                    <h3 class="panel-title">EduLabs σε αριθμούς</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="number">{{ total_schools }}</span>  Σχολεία που έχουν καταχωρηθεί
                    </p>
                    <div class="clearfix"></div>
                    <hr>
                    <p>
                        <span class="number">{{ total_app_forms }}</span> Αιτήσεις που έχουν υποβληθεί
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <a href="{{ path_for('in_numbers') }}" title="Δείτε αναλυτικά">
                            Δείτε αναλυτικά
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
