{% extends "layout.twig" %}

{% block content %}
    <div id="adminarea">
        <h1>Administration</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Λεπτομέρειες</h4>
            </div>
            <div class="panel-body">
                Hello admin
            </div>
            <div class="panel-footer text-center">
                <a class="btn btn-sm btn-primary" href="{{ path_for('admin') }}">Admin home</a>
            </div>
        </div>
    </div>
{% endblock %}
