<h1 class="col-md-7">Καλώς ήρθατε στην εφαρμογή Καταγραφής και Αναβάθμισης Ψηφιακών Υποδομών Σχολείων</h1>
<div class="clearfix"></div>
<p class="text-justify"> 
    <span class="clearfix visible-xs"></span>
    <strong> Έληξε σήμερα Παρασκευή 8/4/2016 και ώρα 12:00 μμ η προθεσμία για την υποβολή της αίτησης για ανανέωση του ψηφιακού εξοπλισμού των σχολείων Πρωτοβάθμιας και Δευτεροβάθμιας Εκπαίδευσης, στο πλαίσιο του πιλοτικού προγράμματος για την βελτίωση των ψηφιακών υποδομών. Ο μεγάλος αριθμός των αιτήσεων καταδεικνύει την μεγάλη ανάγκη για την βελτίωση των ψηφιακών υποδομών των σχολείων, αλλά και την ενσωμάτωση των ΤΠΕ στην καθημερινή διδακτική πρακτική. Ευχαριστούμε για την μεγάλη συμμετοχή στην δράση. </strong>
</p>
<p>Επίσης, θα θέλαμε να σας πληροφορήσουμε ότι το ΥΠΠΕΘ θα προχωρήσει στη βελτίωση της εφαρμογής σύμφωνα με τις υποδείξεις σας και αυτή θα παραμείνει ανοικτή για την αποτύπωση των αναγκών των σχολείων, έτσι ώστε να χρησιμοποιηθεί στις επόμενες δράσεις αναβάθμισης των ψηφιακών υποδομών, μέσα από τα Περιφερειακά ή/και Τομεακά Επιχειρησιακά Προγράμματα του νέου ΕΣΠΑ ή από άλλες χρηματοδοτικές πηγές.</p>
{% if not identity() %}
<div class="text-center">
    <a href="{{ path_for('user.login') }}" class="btn btn-lg btn-success">Σύνδεση</a>
</div>            
{% endif %}


