<h1 class="col-md-7">Καλώς ήρθατε στην εφαρμογή Καταγραφής και Αναβάθμισης Ψηφιακών Υποδομών Σχολείων</h1>
<div class="clearfix"></div>
<p class="text-justify"> 
    <span class="clearfix visible-xs"></span>
    Το ΥΠΠΕΘ προχώρησε στη βελτίωση της εφαρμογής σύμφωνα με τις υποδείξεις σας κατά τη πρώτη περίοδο λειτουργίας της εφαρμογής που αφορούσε στις αιτήσεις για την επιλογή 121 σχολείων της πιλοτικής δράσης «edulabs». Σε συνέχεια της πιλοτικής δράσης το ΥΠΠΕΘ σχεδιάζει την προμήθεια ψηφιακού υλικού για όλα τα σχολεία Α/θμιας και Β/θμιας εκπαίδευσης όλης της χώρας.</p>
<p><b>Βασικό κριτήριο επιλογής των προτάσεων θα είναι τα εκπαιδευτικά σενάρια χρήσης του αιτούμενου εξοπλισμού και λογισμικού.</b><p>
<p> Η εφαρμογή αυτή θα αποτελεί το βασικό εργαλείο του ΥΠΠΕΘ για την καταγραφή των αναγκών των σχολείων σε ψηφιακό εξοπλισμό. </p>
<p>Αναλυτικές οδηγίες για την χρήση της εφαρμογής βρείτε στην ετικέτα «Σχετικά με τη δράση» και στα κείμενα των ετικετών της εφαρμογής.</p>

{% if not identity() %}
<div class="text-center">
    <a href="{{ path_for('user.login') }}" class="btn btn-lg btn-success">Σύνδεση</a>
</div>            
{% endif %}


