<?php return [
    'phpcas' => [
        'serverVersion'         => 'S1',
        'proxy'                 => false,
        'serverHostname'        => '',
        'serverPort'            => 443,
        'serverUri'             => '/cas',
        'changeSessionId'       => false,
        'handleLogoutRequests'  => true,
        'allowedClients'        => [],
        'lang'                  => 'CAS_Languages_Greek',
        'casServerCaCert'       => '',
        'casServerCnValidate'   => '',
        'noCasServerValidation' => true,
    ],
];