<?php
/**
 * gredu_labs
 * 
 * @link https://github.com/eellak/gredu_labs for the canonical source repository
 * @copyright Copyright (c) 2008-2015 Greek Free/Open Source Software Society (https://gfoss.ellak.gr/)
 * @license GNU GPLv3 http://www.gnu.org/licenses/gpl-3.0-standalone.html
 */

return [
    
    'sso' => [
        'phpcas' => [
            'serverVersion'         => 'S1',
            'proxy'                 => false,
            'serverHostname'        => '',
            'serverPort'            => 443,
            'serverUri'             => '/cas',
            'changeSessionId'       => false,
            'handleLogoutRequests'  => true,
            'allowedClients'        => [],
            'lang'                  => 'CAS_Languages_Greek',
            'casServerCaCert'       => '',
            'casServerCnValidate'   => '',
            'noCasServerValidation' => true,
        ],
        'enable_database_login' => false,
        'allowed' => [
            [
                'physicaldeliveryofficename' => '/^ΕΠΙΣΗΜΟΣ ΛΟΓΑΡΙΑΣΜΟΣ$/i',
                'umdobject' => '/^account$/i',
            ],
        ],
    ],
    'acl' => [
        'guards' => [
            'routes' => [
                ['/user/logout/sso', ['guest'], ['get']],
            ],
        ],
    ],
];