<h1 class="no-print">
    {% block title %}
        Επιτυχής Καταχώρηση. 
    {% endblock %}
</h1>
<p class="no-print">Η αίτηση σας καταχωρήθηκε επιτυχώς.
	<br> Ευχαριστούμε για τη συμμετοχή σας.
</p>

