{% extends "layout.twig" %}

{% block content %}
    <div id="app-form-success">
        {% include 'university_form/result.twig' %}
        <div class="row no-print">
            <div class="col-xs-12 text-center">
                
            </div>
        </div>
        <br>
    </div>
{% endblock %}

