<html>
    <head>
        <link href="{{ base_url() }}/css/application_form/pdf.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <img src="{{ base_url() }}/img/minedu_logo.jpg"> 
        </div>
        {% include 'application_form/result.twig' %}
    </body>
</html>