{% extends "layout.twig" %}
{% block content %}
    <div class="about">
        <div class="row">
            <h1 class="col-xs-12">Σχετικά με τη δράση</h1>
            <div class="col-xs-12">
                <p>Στο πλαίσιο της προσπάθειας να διαμορφωθεί το σχολείο του αύριο, το Υπουργείο Παιδείας, Έρευνας και Θρησκευμάτων σχεδιάζει την προμήθεια ψηφιακού υλικού για τα σχολεία Α/θμιας και Β/θμιας εκπαίδευσης όλης της χώρας. Τα προγράμματα εξοπλισμού των σχολείων χρηματοδοτούνται από διάφορες χρηματοδοτικές πηγές (πχ ΠΔΕ, ΕΣΠΑ και άλλες). Ήδη υλοποιείται πιλοτικό πρόγραμμα αναβάθμισης του ψηφιακού εξοπλισμού σε 121 σχολεία της χώρας. Τα σχολεία αυτά κατέθεσαν την αίτηση για αναβάθμιση του εξοπλισμού τους μέσω της εφαρμογής edulabs και επιλέχθηκαν μεταξύ των 5.500 σχολείων που υπέβαλαν σχετική αίτηση. Υπενθυμίζουμε ότι η εφαρμογή <a href="http://edulabs.minedu.gov.gr/">edulabs</a>, σύμφωνα με το με αρ. πρωτ 110039/Δ1/5/7/2016 έγγραφο του ΥΠ.Π.Ε.Θ με θέμα «Αναβάθμιση Ψηφιακών Υποδομών σχολείων Α/θμιας και Β/θμιας Εκπ/σης» είναι αυτή που θα χρησιμοποιείται από τα σχολεία, τις Διευθύνσεις Εκπαίδευσης ΠΕ και ΔΕ και τις Περιφερειακές Διευθύνσεις Εκπαίδευσης για την καταγραφή των αναγκών των σχολείων σε ψηφιακό εξοπλισμό και απαραίτητη προϋπόθεση έτσι ώστε αυτά να ενταχθούν σε ένα πρόγραμμα προμήθειας εξοπλισμού, ανεξάρτητα από το φορέα χρηματοδότησης. Όταν ζητούνται στοιχεία από τις Διοικητικές Περιφέρειες καταγραφής αναγκών ψηφιακού εξοπλισμού θα πρέπει αυτά να αντλούνται από την εφαρμογή edulabs.
				Παράλληλα το ΥΠΠΕΘ με την Φ 478.6/41770/32/Α2 της 09-03-2016 απόφασή του συγκρότησε την «Επιτροπή σύνταξης τεχνικών προδιαγραφών για την προμήθεια εξοπλισμού Τ.Π.Ε. για τις ανάγκες των δομών Α/θμιας και Β.θμιας Εκπαίδευσης». Η επιτροπή έχει ήδη συντάξει προδιαγραφές για το ψηφιακό υλικό και τις επικαιροποιεί σε τακτά χρονικά διαστήματα. </p>
                
                <p>Ο ψηφιακός εξοπλισμός των σχολείων θα βασίζεται σε ανοικτά πρότυπα και σύμφωνα με τη με αρ. πρωτ 5788/Α3/6-4-16 επιστολή του Γενικού Γραμματέα του ΥΠΠΕΘ προς το Υπουργείο Οικονομίας, Ανάπτυξης και Τουρισμού. Ο ψηφιακός εξοπλισμός έχει ως βασικό κορμό ένα εργαστήριο ανοικτών τεχνολογιών που διασυνδέεται με περιφερειακές συσκευές ανοικτών προτύπων όπως, arduino, bbc micro, 3d printers and scanners και άλλες. Βασικός σκοπός δε, του ψηφιακού εξοπλισμού ανοικτών προτύπων είναι: 
                <ul>
                	<li>η βελτίωση των <strong>βασικών ικανοτήτων στην επιστήμη, την τεχνολογία και την ψηφιακή ικανότητα </strong>των μαθητών των σχολείων της πρωτοβάθμιας και της δευτεροβάθμιας εκπαίδευσης</li>
                	<li>  η αξιοποίηση των ΤΠΕ από τους μαθητές της πρωτοβάθμιας και της δευτεροβάθμιας εκπαίδευσης</li>
                	<li>η δημιουργία των προϋποθέσεων για <strong>ανάπτυξη κινήτρων μάθησης και ανάληψης πρωτοβουλιών</strong></li>
                	<li>η απόκτηση <strong>βασικών δεξιοτήτων ζωής (life skills)</strong> ενισχύοντας την αυτοεκτίμηση, την αυτοπεποίθηση και την κοινωνικότητα μέσα από ομαδοσυνεργατικές δράσεις</li>
                	<li>η βελτίωση των <strong>βασικών γνώσεων </strong>και των <strong>δεξιοτήτων ζωής</strong>απαραίτητες σε ένα ραγδαία μεταβαλλόμενο κοινωνικοοοικονομικό περιβάλλον</li>
				</ul>
				Στόχος είναι στα  σχολεία να υπάρχουν:
				<ul>
					<li>Εργαστήρια Πληροφορικής για την διδασκαλία των μαθημάτων Πληροφορικής</li>
					<li>Ψηφιακό υλικό για άλλα εργαστήρια του σχολείου όπως τα εργαστήρια Φυσικών Επιστημών, τεχνολογίας κλπ και στα εργαστήρια των σχολείων τεχνικής εκπαίδευσης όπως των Μηχανολόγων, Ηλεκτρολόγων κλπ</li>
					<li>Εργαστήρια Ανοιχτών Τεχνολογιών – Καινοτομίας, του οποίου το ψηφιακό υλικό θα αξιοποιείται από όλους τους εκπαιδευτικούς για όλα τα γνωστικά αντικείμενα των προγραμμάτων σπουδών και τα προγράμματα που υλοποιούνται στα σχολεία με χρήση και αξιοποίηση των ΤΠΕ (πχ, ρομποτική, eTwinning κα).</li>
				</ul>
				</p>
				<p>Το ΥΠΠΕΘ παράλληλα με την εγκατάσταση των εργαστηρίων θα προχωρήσει σε δράσεις ενημέρωσης, υποστήριξης και επιμόρφωσης των εκπαιδευτικών των σχολείων για την όσο το δυνατόν καλύτερη αξιοποίηση των εργαστηρίων αυτών.</p>
				<p>Επειδή οι συνθήκες δεν είναι ίδιες σε όλα τα σχολεία και εξαρτώνται και διαμορφώνονται από παράγοντες όπως το μαθητικό δυναμικό, την ύπαρξη κατάλληλου χώρου για την ανάπτυξη δεύτερου εργαστηρίου ανοιχτών τεχνολογιών – καινοτομίας, τον αριθμό επιμορφούμενων εκπαιδευτικών στην χρήση και αξιοποίηση των ΤΠΕ στη διδακτική πράξη κλπ, ενδεικτικά προτείνονται οι παρακάτω επιλογές εργαστηρίων έτσι ώστε να εξασφαλιστεί ότι όλα τα σχολεία θα διαθέτουν ένα τουλάχιστον νέο εργαστήριο.</p>

<p>
Ανάλογα με το μαθητικό δυναμικό, προτείνονται οι παρακάτω περιπτώσεις εξοπλισμού των σχολείων με ΤΠΕ:
<ol> 
<li>Για σχολεία, στα οποία οι ώρες διδασκαλίας των μαθημάτων Πληροφορικής είναι περισσότερες των 15 και δεν μένουν διαθέσιμες ώρες στο εργαστήριο από τη διδασκαλία μαθημάτων Πληροφορικής, για να μπορεί να αξιοποιηθεί ο εξοπλισμός από εκπαιδευτικούς των άλλων ειδικοτήτων, προτείνεται:
<ul>
<li>Ένα εργαστήριο Πληροφορικής, που θα αποτελείται από 12 σταθμούς εργασίας, ένα εξυπηρετητή, Διαδραστικό Σύστημα, κλπ.</li>
<li>Εφόσον υπάρχει διαθέσιμη κατάλληλη αίθουσα, ένα επιπλέον εργαστήριο Ανοιχτών Τεχνολογιών – Καινοτομίας που θα αποτελείται από 12 σταθμούς εργασίας ΥΠΟΛΟΓΙΣΤΙΚΗ ΜΟΝΑΔΑ ΧΑΜΗΛΟΥ ΟΓΚΟΥ/ΚΑΤΑΝΑΛΩΣΗΣ (SINGLE BOARD COMPUTER τύπου Raspberry Pi), ένα εξυπηρετητή με επιπλέον ψηφιακό εξοπλισμό όπως 6 σετ εκπαιδευτικής ρομποτικής, τρισδιάστατο εκτυπωτή και σαρωτή, Διαδραστικό Σύστημα κλπ.</li>
<li>Εφόσον στο σχολείο δεν υπάρχει 2η αίθουσα για εργαστήριο, το σχολείο μπορεί να ζητήσει μέρος του ψηφιακού υλικού του εργαστηρίου Ανοιχτών Τεχνολογιών – Καινοτομίας και να εγκατασταθεί σε άλλο χώρο πχ στο εργαστήριο Τεχνολογίας.</li></ul></li>
 
<li>Για σχολεία στα οποία οι ώρες διδασκαλίας των μαθημάτων Πληροφορικής είναι 10-15  και μπορεί το εργαστήριο να χρησιμοποιηθεί και από τους υπόλοιπους εκπαιδευτικούς, υπάρχει δυνατότητα να εξοπλιστούν με ένα εργαστήριο με μέγιστο αριθμό 12 σταθμών εργασίας, ένα εξυπηρετητή, 6 Raspberries (μέγιστος αριθμός) και με επί πλέον ψηφιακό εξοπλισμό όπως 6 σετ εκπαιδευτικής ρομποτικής, τρισδιάστατο εκτυπωτή και σαρωτή, Διαδραστικό Σύστημα κλπ.</li>
 
<li>Για τα μικρότερα σχολεία ο εξοπλισμός θα μειώνεται αναλογικά</li>
 
<li>Σε ότι αφορά την Α/θμια Εκπ/ση πρέπει κατά προτεραιότητα, να ληφθούν υπόψη στην κατανομή ψηφιακού υλικού οι ανάγκες, ώστε να εξασφαλίζονται οι απαραίτητες προϋποθέσεις πραγματοποίησης του διδακτικού αντικειμένου των Τ.Π.Ε, που εισάγεται σε όλα τα 4/θέσια και άνω Δημοτικά Σχολεία.</li>
 
<li>Επίσης, πέραν των εργαστηρίων το σχολείο μπορεί να αιτηθεί να εξοπλισθεί με αριθμό φορητών υπολογιστών και άλλου εξοπλισμού από τον κατάλογο των εγκεκριμένων υλικών που επισυνάπτεται εφόσον δικαιολογείται η χρήση τους στην εκπαιδευτική διαδικασία.</li>
 
<li>Για σχολεία (κυρίως της Επαγγελματικής Εκπαίδευσης) που διαθέτουν περισσότερα τους ενός εργαστηρίων πληροφορικής, προτείνεται τα εργαστήρια να εξοπλίζονται με 12 σταθμούς εργασίας και έναν εξυπηρετητή.</li>
 
<li>Για τα σχολεία Ειδικής Αγωγής και Εκπαίδευσης Δευτεροβάθμιας Εκπαίδευσης, όπου προβλέπονται ώρες διδασκαλίας των μαθημάτων Πληροφορικής, καθώς και για τα σχολεία Ειδικής Αγωγής και Εκπαίδευσης Πρωτοβάθμιας Εκπαίδευσης, τα οποία διαθέτουν ή δύνανται να διαθέσουν χώρο για τη λειτουργία εργαστηρίου Πληροφορικής, ισχύουν όλα τα ανωτέρω. Πέραν αυτών και ανεξαρτήτως αν τα σχολεία Ειδικής Αγωγής και Εκπαίδευσης διαθέτουν ή όχι εργαστήριο Πληροφορικής, λόγω της ιδιομορφίας και πολυτυπίας των εφαρμοζόμενων προγραμμάτων, η πρόταση εξοπλισμού τεκμηριώνεται με τα αναφερόμενα στην ανωτέρω παρ. 4 σε σχέση με την εξυπηρέτηση των συγκεκριμένων εκπαιδευτικών αναγκών των μαθητών τους</li>
</ol>

<p>Πριν από κάθε αίτηση για εξοπλισμό θα πρέπει το σχολείο, σε συνεργασία με τους υπεύθυνους ΚΕ.ΠΛΗ.ΝΕ.Τ. να αξιολογήσει το υπάρχον ψηφιακό υλικό του σχολείου για να το αξιοποιήσει κατάλληλα. Οι υπάρχοντες σταθμοί εργασίας, εάν πληρούν τις τεχνικές προδιαγραφές, μπορούν να αξιοποιηθούν είτε στα εργαστήρια για να αυξηθούν οι θέσεις εργασίας, είτε για υποστήριξη της μηχανοργάνωσης του σχολείου, είτε στο γραφείο του συλλόγου των εκπαιδευτικών, είτε σε άλλα εργαστήρια του σχολείου, είτε να εγκατασταθούν σε αίθουσες διδασκαλίας</p>
 
<p>Σε κάθε περίπτωση οι ανάγκες και ο τύπος του εξοπλισμού που θα αιτείται το κάθε σχολείο θα καταγράφεται στην εφαρμογή edulabs και θα είναι αντικείμενο συνεργασίας του σχολείου με τις αρμόδιες υπηρεσίες του ΥΠΠΕΘ (Περιφεριακές Διευθύνσεις Εκπαίδευσης, Διευθύνσεις Α/θμιας και Β/θμιας Εκπ/σης, ΚΕΠΛΗΝΕΤ, Δ/νσεις Σπουδών Α/θμιας και Β/θμιας του ΥΠΠΕΘ).</p>
  
<p>Για την επιλογή του προς προμήθεια εξοπλισμού ενός σχολείου, θα αξιολογούνται:
<ul>
<li>η παλαιότητα του υπάρχοντος εξοπλισμού,</li>
<li>το μαθητικό δυναμικό,</li>
<li>η εμπειρία του σχολείου σε ψηφιακές εκπαιδευτικές πρακτικές και δράσεις,</li>
<li>η προτεινόμενη χρήση σε διαφορετικά μαθήματα των αιτούμενων υποδομών από εκπαιδευτικούς του σχολείου</li>
<li>η αποτύπωση ενός σχεδίου αποτελεσματικής χρήσης των αιτούμενων ψηφιακών υποδομών στην μαθησιακή διαδικασία με ενδοσχολικές δραστηριότητες και δράσεις ανοιχτές στην τοπική κοινωνία.</li></ul>
<p>Για να πραγματοποιηθεί οποιαδήποτε αναβάθμιση ή/και επέκταση ψηφιακού εξοπλισμού ή/και λογισμικού σε σχολείο, ανεξάρτητα πηγής χρηματοδότησης, θα πρέπει να έχει καταχωρηθεί αίτηση στο <a href="http://edulabs.minedu.gov.gr/">http://edulabs.minedu.gov.gr/</a>.</p>

<p>Σε κάθε καρτέλα του <a href="http://edulabs.minedu.gov.gr/">http://edulabs.minedu.gov.gr/</a> υπάρχει εισαγωγικό κείμενο με οδηγίες στα σημεία που χρειάζεται. Σε καθημερινή βάση θα εμπλουτίζεται σελίδα με απαντήσεις στις πιο συχνές ερωτήσεις την οποία μπορείτε να συμβουλεύεστε, ενώ θα διατίθεται τεχνική υποστήριξη από το φόρουμ( http://edulabs.minedu.gov.gr/forum ) μέσω του οποίου θα απαντώνται όλα τα ερωτήματα των σχολείων.</p>
<p>
<br><strong>ΕΓΚΕΚΡΙΜΕΝΟΣ ΕΞΟΠΛΙΣΜΟΣ</strong>

<br>ΕΙΔΟΣ ΚΩΔΙΚΟΣ 1 – ΣΤΑΘΕΡΟΣ ΗΛΕΚΤΡΟΝΙΚΟΣ ΥΠΟΛΟΓΙΣΤΗΣ (DESKTOP) 
<br>ΚΩΔΙΚΟΣ 2 – ΦΟΡΗΤΟΣ ΗΛΕΚΤΡΟΝΙΚΟΣ ΥΠΟΛΟΓΙΣΤΗΣ (LAPTOP) 
<br>ΚΩΔΙΚΟΣ 3 – ΕΠΙΤΡΑΠΕΖΙΟΣ ΒΙΝΤΕΟΠΡΟΒΟΛΕΑΣ (SHORT THROW PROJECTOR) 
<br>ΚΩΔΙΚΟΣ 4 – ΕΠΙΤΟΙΧΟΣ ΒΙΝΤΕΟΠΡΟΒΟΛΕΑΣ (ULTRA SHORT THROW WIFI PROJECTOR) 
<br>ΚΩΔΙΚΟΣ 5 – ΕΓΧΡΩΜΟΣ ΕΚΤΥΠΩΤΗΣ Α4  
<br>ΚΩΔΙΚΟΣ 6 – ΑΣΠΡΟΜΑΥΡΟΣ ΕΚΤΥΠΩΤΗΣ LASER Α4 
<br>ΚΩΔΙΚΟΣ 7 – ΔΙΑΔΙΚΤΥΑΚΗ ΚΑΜΕΡΑ (WEB CAMERA) 
<br>ΚΩΔΙΚΟΣ 8 – ΕΞΩΤΕΡΙΚΟΣ ΣΚΛΗΡΟΣ ΔΙΣΚΟΣ 
<br>ΚΩΔΙΚΟΣ 9 – ΑΣΠΡΟΜΑΥΡΟ ΠΟΛΥΜΗΧΑΝΗΜΑ Α4 
<br>ΚΩΔΙΚΟΣ 10 – ΑΣΠΡΟΜΑΥΡΟ ΠΟΛΥΜΗΧΑΝΗΜΑ Α3 
<br>ΚΩΔΙΚΟΣ 11 – ΑΣΥΡΜΑΤΟ ΣΗΜΕΙΟ ΠΡΟΣΒΑΣΗΣ (ACCESS POINT) 
<br>ΚΩΔΙΚΟΣ 12 – ΕΞΥΠΗΡΕΤΗΤΗΣ (HIGH-END WORKSTATION FOR SERVER FUNCTION) 
<br>ΚΩΔΙΚΟΣ 13 - ΥΠΟΛΟΓΙΣΤΙΚΗ ΜΟΝΑΔΑ ΧΑΜΗΛΟΥ ΟΓΚΟΥ/ΚΑΤΑΝΑΛΩΣΗΣ (SINGLE BOARD COMPUTER) 
<br>KΩΔΙΚΟΣ 14 - ΣΤΑΘΕΡΟΣ ΗΛΕΚΤΡΟΝΙΚΟΣ ΥΠΟΛΟΓΙΣΤΗΣ CLIENT (FAT CLIENT) 
<br>ΚΩΔΙΚΟΣ 15 - ΑΚΟΥΣΤΙΚΑ (HEADSET) 
<br>ΚΩΔΙΚΟΣ 16 - ΜΕΤΑΓΩΓΕΑΣ (SWITCH) 
<br>ΚΩΔΙΚΟΣ 17 - ΤΡΙΣΔΙΑΣΤΑΤΟΣ ΕΚΤΥΠΩΤΗΣ (3D PRINTER) 
<br>ΚΩΔΙΚΟΣ 18 - ΤΡΙΣΔΙΑΣΤΑΤΟΣ ΣΑΡΩΤΗΣ (3D SCANNER) 
<br>ΚΩΔΙΚΟΣ 19 - ΣΕΤ ΡΟΜΠΟΤΙΚΗΣ ΝΗΠΙΑΓΩΓΕΙΟΥ 
<br>ΚΩΔΙΚΟΣ 20 - ΣΕΤ ΡΟΜΠΟΤΙΚΗΣ ΔΗΜΟΤΙΚΟΥ 
<br>ΚΩΔΙΚΟΣ 21 - ΣΕΤ ΡΟΜΠΟΤΙΚΗΣ ΓΥΜΝΑΣΙΟΥ 
<br>ΚΩΔΙΚΟΣ 22 - ΣΕΤ ΡΟΜΠΟΤΙΚΗΣ ΛΥΚΕΙΟΥ 
<br>ΚΩΔΙΚΟΣ 23 - ΔΙΑΔΡΑΣΤΙΚΟ ΣΥΣΤΗΜΑ (INTERACTIVE SET) 
</p>

                 
            </div>
        </div>
        <div class="row">
            {% include 'edulabs-perigrafi.twig' %}
        </div>
    </div>
{% endblock %}