{% extends "layout.twig" %}
{% block content %}
    <div class="about">
        <div class="row">
            <h1 class="col-xs-12 col-sm-12 col-md-9">Σχετικά με τη δράση</h1>
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                <a href="#/egkyklios" title="Η εγκύκλιος" class="btn btn-lg btn-primary">
                    <i class="fa fa-download"></i> Σχετική εγκύκλιος
                </a>
                <hr class="visible-xs visible-sm">
            </div>
            <div class="col-xs-12">
                <p>Στο πλαίσιο της προσπάθειας να διαμορφωθεί το σχολείο του αύριο, το Υπουργείο Παιδείας, Έρευνας και Θρησκευμάτων αναβαθμίζει τις ψηφιακές υποδομές των σχολείων της Πρωτοβάθμιας και Δευτεροβάθμιας  Εκπαίδευσης. 
                </p><p>
                    Στόχος είναι η δημιουργία ενός σχολείου που με τη χρήση των Τεχνολογιών Πληροφορικής και Επικοινωνιών (ΤΠΕ) θα είναι πραγματιστικό αλλά και καινοτόμο, θα διέπεται από μία ολοκληρωμένη προσέγγιση, θα παρέχει πρόσβαση σε υψηλού επιπέδου εκπαίδευση για όλους, θα ενισχύει τους εκπαιδευτικούς να χρησιμοποιήσουν ένα σχολικό περιβάλλον αναβαθμισμένο με σύγχρονες υποδομές και παιδαγωγικές, ώστε να εκπαιδεύσουν μαθητές με τις δεξιότητες που απαιτούνται από τον κόσμο του αύριο, όπως αυτός διαμορφώνεται σε παγκόσμιο αλλά και εθνικό επίπεδο και θα συγκλίνει στην ευρύτερη πολιτική για την ανάπτυξη. 
                </p><p>
                    Η αναβάθμιση αφορά συγκεκριμένες παρεμβάσεις στις υποδομές Τεχνολογιών Πληροφορικής και Επικοινωνιών των Σχολείων, στις περιπτώσεις που κρίνεται απαραίτητη θα υλοποιείται με ανοιχτές τεχνολογίες και με νέο εξοπλισμό (υλικό και λογισμικό) όπου απαιτείται. Η επιλογή των σχολείων θα γίνεται σταδιακά και θα ξεκινήσει από τα σχολεία που θα καταθέσουν την πιο πλήρη εκπαιδευτική πρόταση για τον τρόπο αξιοποίησης των προτεινόμενων αναβαθμίσεων στη καθημερινή διδακτική διαδικασία. 
                </p><p>
                    Η αναβάθμιση των υποδομών θα γίνει και με την αξιοποίηση παλαιού εξοπλισμού ή/και την ανάπτυξη σύγχρονων εργαστηρίων χαμηλού κόστους και μεμονομένων θέσεων εργασίας, με την χρήση του <a href="http://ts.sch.gr/wiki/Linux/LTSP" target="_blank">LTSP</a>, του <a href="http://ts.sch.gr/wiki/Linux/epoptes" target="_blank">ΕΠΟΠΤΗ</a> και του λειτουργικού συστήματος Ubuntu Linux. Η τεχνολογία αυτή επιτρέπει, με την αναβάθμιση του εξυπηρετητή του εργαστηρίου πληροφορικής, να χρησιμοποιούνται και οι παλαιωμένοι σταθμοί εργασίας για την πρόσβαση στο διαδίκτυο και τη χρήση ψηφιακών εκπαιδευτικών εφαρμογών μέσα από ένα σύγχρονο περιβάλλον επικοινωνίας. Ο ήδη υπάρχων εξυπηρετητής του παλαιωμένου εργαστηρίου θα μπορεί, αν υπάρχει η δυνατότητα, να αναβαθμίζεται ή να αντικαθίσταται. Και στις δύο περιπτώσεις θα μπορεί να καλύψει τις ανάγκες πρόσβασης στο διαδίκτυο και της χρήσης των ψηφιακών υποδομών του σχολείου. 
                </p><p>
                    Θα υπάρχει δυνατότητα να αντικαθίσταται παλαιωμένος μη λειτουργικός εξοπλισμός όπως οθόνες, πληκτρολόγια, κάμερες, ακουστικά, κάρτες μνήμης κλπ, καθώς επίσης και να συμπληρώνεται ο υπάρχων εξοπλισμός όπως για παράδειγμα πολυμηχανήματα-εκτυπωτές, μεταγωγείς, δομημένη καλωδίωση, ασύρματη δικτύωση κλπ, καθώς και άλλος εξοπλισμός που διαλειτουργεί με υπολογιστές καθώς και εποπτικά εργαλεία για τα οποία, μέσω της αίτησης, θα αποδεικνύεται η ανάγκη προμήθειάς τους και θα τεκμηριώνετε η χρήσης τους από τη σχολική μονάδα.
                </p><p>
                    Επιπλέον, θα υπάρχει η δυνατότητα αν υπάρχει η κατάλληλη υποδομή πχ κενή αίθουσα, να αναπτυχθεί στη σχολική μονάδα ένα επιπλέον εργαστήριο ψηφιακών μέσων και να εξοπλισθούν άλλα υπάρχοντα εργαστήρια όπως φυσικών επιστημών, τεχνολογίας κλπ με σύγχρονα ψηφιακά εργαλεία. 
                </p><p>
                    Η προσπάθεια θα στηριχθεί στη χρήση ανοικτών τεχνολογιών και περιεχομένου σε όλες τις βαθμίδες της εκπαίδευσης με εξασφαλισμένη διαλειτουργικότητα με τις κεντρικές υποδομές ΠΣΔ και ειδικότερα με τις υποδομές εγγραφής και πιστοποίησης σχολείων, εκπαιδευτικών και μαθητών. 
                </p><p>
                    Για την επιλογή του σχολείου σας σε αυτή τη πιλοτική δράση, θα αξιολογηθεί: 
                </p>
                <ul>
                    <li>η παλαιότητα του υπάρχοντος εξοπλισμού, </li>
                    <li>η εμπειρία του σχολείου σε ψηφιακές εκπαιδευτικές δράσεις, </li>
                    <li>η εμπειρία και ο βαθμός γνώσης και χρήσης των ΤΠΕ από τους εκπαιδευτικούς του σχολείου, </li>
                    <li>καθώς και η αποτύπωση ενός σχεδίου ανάπτυξης των ΤΠΕ στην μαθησιακή διαδικασία της σχολικής μονάδας. </li>
                </ul>
                <p>Για αυτό παρακαλείσθε να συμπληρώσετε με προσοχή τις επόμενες καρτέλες όπου θα αποτυπώσετε τα παραπάνω στοιχεία. 
                </p><p>
                    Σε κάθε καρτέλα υπάρχει εισαγωγικό κείμενο με οδηγίες στα σημεία που χρειάζεται. Σε καθημερινή βάση θα εμπλουτίζεται σελίδα με απαντήσεις στις πιο συχνές ερωτήσεις την οποία μπορείτε να συμβουλεύεστε, ενώ θα διατίθεται τεχνική υποστήριξη από το <a href="{{ _forum_url }}">φόρουμ</a>  μέσω του οποίου θα απαντώνται τα ερωτήματα των σχολείων. 
                </p>
            </div>
        </div>
    </div>
{% endblock %}