{% extends "layout.twig" %}
{% block content %}
    <div class="about">
        <div class="row">
            <h1 class="col-xs-12 col-sm-12 col-md-9">Σχετικά με τη δράση</h1>
            <div class="col-xs-12">
                <p>Στο πλαίσιο της προσπάθειας να διαμορφωθεί το σχολείο του 
                    αύριο, το Υπουργείο Παιδείας, Έρευνας και Θρησκευμάτων 
                    αναβαθμίζει τις ψηφιακές υποδομές των σχολείων. </p>
                <p>Στόχος είναι η δημιουργία ενός σχολείου που με τη χρήση των 
                    Τεχνολογιών Πληροφορικής και Επικοινωνιών (ΤΠΕ) θα είναι 
                    πραγματιστικό αλλά και καινοτόμο, θα διέπεται από μία 
                    ολοκληρωμένη προσέγγιση, θα παρέχει πρόσβαση σε υψηλού 
                    επιπέδου εκπαίδευση για όλους, θα ενισχύει τους 
                    εκπαιδευτικούς να χρησιμοποιήσουν ένα σχολικό περιβάλλον 
                    αναβαθμισμένο με σύγχρονες υποδομές και παιδαγωγικές 
                    τεχνικές, ώστε να εκπαιδεύουν μαθητές με τις δεξιότητες που 
                    απαιτούνται από τον κόσμο του αύριο, όπως αυτός 
                    διαμορφώνεται σε παγκόσμιο αλλά και ευρωπαϊκό επίπεδο και 
                    θα συγκλίνει στην ευρύτερη πολιτική για την ανάπτυξη. </p>
                <p>Η αναβάθμιση αφορά συγκεκριμένες παρεμβάσεις στις ψηφιακές 
                    υποδομές των σχολείων που βελτιώνουν την 
                    παιδαγωγική–διδακτική διαδικασία. Θα στηρίζεται σε ανοιχτές 
                    τεχνολογίες και πρότυπα, θα αφορά υπολογιστές, συστήματα 
                    ρομποτικής και αισθητήρων, τρισδιάστατους εκτυπωτές και
                    βοηθητικό εξοπλισμό.</p>
                <p>Η αναβάθμιση των υποδομών ΤΠΕ θα πραγματοποιηθεί με την
                    αξιοποίηση παλαιού εξοπλισμού ή/και με την εγκατάσταση
                    σύγχρονων σχολικών εργαστηρίων πληροφορικής χαμηλού κόστους,
                    καθώς και σταθμών εργασίας στις αίθουσες διδασκαλίας.  </p>
                <p>Προτείνεται η χρήση του λειτουργικού συστήματος <a href="https://wiki.ubuntu.com/GreekTeam" target="_blank">Ubuntu Linux</a>,
                    της τεχνολογίας <a href="http://ts.sch.gr/wiki/Linux/LTSP" target="_blank">LTSP (Linux Terminal Server Project)</a>
                    και της εφαρμογής <a href="http://ts.sch.gr/wiki/Linux/epoptes" target="_blank">ΕΠΟΠΤΗΣ (Epoptes)</a>,
                    τα οποία ήδη χρησιμοποιούνται σε πολλά σχολικά εργαστήρια
                    της χώρας. Η προτεινόμενη τεχνολογία καθιστά δυνατή τη χρήση
                    και παλαιότερων υπολογιστών, όσον αφορά τη πρόσβαση στο
                    διαδίκτυο και τη χρήση ψηφιακών εκπαιδευτικών εφαρμογών,
                    μέσω την αναβάθμισης/αντικατάστασης του εξυπηρετητή (server)
                    του εργαστηρίου πληροφορικής.</p>
                <p>Θα υπάρχει δυνατότητα να αντικαθίσταται παλαιωμένος, μη 
                    λειτουργικός εξοπλισμός όπως οθόνες, πληκτρολόγια, κάμερες, 
                    ακουστικά-μικρόφωνα, κάρτες μνήμης κλπ, να συμπληρώνεται 
                    εξοπλισμός, όπως, πολυμηχανήματα 
                    (εκτυπωτές-φωτοτυπικά-σαρωτές), τριδιαστάτοι 
                    εκτυπωτές-σαρωτές, σετ ρομποτικής-αισθητήρων, δομημένη 
                    καλωδίωση, μεταγωγείς δικτύου, ασύρματη δικτύωση κλπ, 
                    καθώς και άλλος εξοπλισμός που διαλειτουργεί με υπολογιστές 
                    και εποπτικά εργαλεία για τα οποία, μέσω της αίτησης, θα 
                    αποδεικνύεται η ανάγκη προμήθειάς τους και θα τεκμηριώνεται
                    η χρήση τους στην εκπαιδευτική διαδικασία. </p>
                <p>Επιπλέον, θα μπορεί, να αναπτυχθεί στη σχολική μονάδα ένα 
                    επιπλέον εργαστήριο ψηφιακών μέσων, αν υπάρχει κατάλληλος 
                    χώρος αλλά και να εξοπλισθούν άλλα υπάρχοντα εργαστήρια όπως 
                    φυσικών επιστημών, τεχνολογίας και αίθουσες διδασκαλίας με 
                    σύγχρονα ψηφιακά εργαλεία. </p>
                <p>Η δράση θα στηριχθεί στη χρήση ανοικτών τεχνολογιών και 
                    περιεχομένου σε όλες τις βαθμίδες της εκπαίδευσης, με 
                    εξασφαλισμένη διαλειτουργικότητα με τις κεντρικές υποδομές
                    του Πανελλήνιου Σχολικού Δικτύου και ειδικότερα με τις 
                    υποδομές εγγραφής και πιστοποίησης σχολείων, εκπαιδευτικών 
                    και μαθητών. </p>
                <p>Για την επιλογή ενός σχολείου στην 1η φάση, θα αξιολογηθούν:</p>
                <ul>
                <li>η παλαιότητα του υπάρχοντος εξοπλισμού, </li>
                <li>το μαθητικό δυναμικό, </li>
                <li>η εμπειρία του σχολείου σε ψηφιακές εκπαιδευτικές πρακτικές 
                    και δράσεις, </li>
                <li>η προτεινόμενη χρήση σε διαφορετικά μαθήματα των αιτούμενων 
                    υποδομών από εκπαιδευτικούς του σχολείου </li>
                <li>η αποτύπωση ενός σχεδίου αποτελεσματικής χρήσης των 
                    αιτούμενων ψηφιακών υποδομών στην μαθησιακή διαδικασία 
                    με ενδοσχολικές δραστηριότητες και δράσεις ανοιχτές στην 
                    τοπική κοινωνία. </li>
                </ul>
                <p><strong>Για να πραγματοποιηθεί οποιαδήποτε αναβάθμιση ή/και επέκταση 
                    ψηφιακού εξοπλισμού ή/και λογισμικού σε σχολείο, ανεξάρτητα 
                    πηγής χρηματοδότησης, θα πρέπει να έχει καταχωρηθεί έγκαιρα 
                    αίτηση στο <a href="http://edulabs.minedu.gov.gr">http://edulabs.minedu.gov.gr</a>.</strong></p>
                <p>Σε κάθε καρτέλα του <a href="http://edulabs.minedu.gov.gr">http://edulabs.minedu.gov.gr</a> 
                    υπάρχει εισαγωγικό κείμενο με οδηγίες στα σημεία που χρειάζεται. 
                    Σε καθημερινή βάση θα εμπλουτίζεται σελίδα με απαντήσεις 
                    στις πιο συχνές ερωτήσεις την οποία μπορείτε να 
                    συμβουλεύεστε, ενώ θα διατίθεται τεχνική υποστήριξη από το 
                    φόρουμ( <a href="{{ _forum_url }}">{{ _forum_url }}</a> ) μέσω 
                    του οποίου θα απαντώνται όλα τα ερωτήματα των σχολείων. 
            </div>
        </div>
    </div>
{% endblock %}