{% extends "layout.twig" %}
{% block content %}
    <h1>Σχετικά με τη δράση</h1>

    <p>Στο πλαίσιο της προσπάθειας να διαμορφωθεί το σχολείο του αύριο, το 
        Υπουργείο Παιδείας, Έρευνας και Θρησκευμάτων πρόκειται να προχωρήσει 
        στην αναβάθμιση των ψηφιακών υποδομών των σχολείων της Α/θμιας και 
        Β/θμιας Εκπ/σης.  
    </p><p>
        Στόχος είναι η δημιουργία ενός σχολείου που με τη χρήση των Τεχνολογίων
        Πληροφορικής και Επικοινωνιών (ΤΠΕ) θα είναι πραγματιστικό αλλά και 
        καινοτόμο, θα διέπεται από μία ολοκληρωμένη προσέγγιση, θα παρέχει 
        πρόσβαση σε υψηλού επιπέδου εκπαίδευση για όλους, θα ενισχύει τους 
        εκπαιδευτικούς να χρησιμοποιήσουν ένα σχολικό περιβάλλον  αναβαθμισμένο
        με σύγχρονες υποδομές και παιδαγωγικές, ώστε να εκπαιδεύσουν μαθητές με
        τις δεξιότητες που απαιτούνται από τον κόσμο του αύριο, όπως αυτός
        διαμορφώνεται σε παγκόσμιο αλλά και εθνικό επίπεδο και θα συγκλίνει 
        στην ευρύτερη πολιτική για την ανάπτυξη.
    </p><p>
        Η αναβάθμιση αφορά συγκεκριμένες παρεμβάσεις στις υποδομές ΤΠΕ των 
        σχολείων και μόνο στις περιπτώσεις που κρίνεται απαραίτητη. Η αναβάθμιση 
        του εξοπλισμού θα στηριχθεί σε Ανοιχτές Τεχνολογίες αλλά και σε νέο
        εξοπλισμό (υλικό/λογισμικό) που προσφέρεται για παιδαγωγική – διδακτική 
        αξιοποίηση. Η επιλογή των σχολείων θα γίνεται σταδιακά και θα ξεκινήσει
        από σχολεία που θα καταθέσουν πλήρη εκπαιδευτική πρόταση μέσω αυτής της
        εφαρμογής για τον τρόπο αξιοποίησης των Τεχνολογίων Πληροφορικής και 
        Επικοινωνιών(ΤΠΕ) στη καθημερινή διδακτική διαδικασία. 
    </p><p>
        Η αναβάθμιση των ΤΠΕ υποδομών θα γίνει και με την αξιοποίηση παλαιού 
        εξοπλισμού ή/και την ανάπτυξη σύγχρονων εργαστηρίων  χαμηλού κόστους 
        και μεμονομένων θέσεων εργασίας, στα σχολεία με με την χρήση του 
        <a href="http://ts.sch.gr/wiki/Linux/LTSP" target="_blank">LTSP</a>, του 
        <a href="http://ts.sch.gr/wiki/Linux/epoptes" target="_blank">ΕΠΟΠΤΗ</a>
        και του λειτουργικού συστήματος Ubuntu. Η τεχνολογία αυτή επιτρέπει, με 
        την αναβάθμιση του εξυπηρετητή του εργαστηρίου πληροφορικής, να 
        χρησιμοποιούνται και οι παλαιωμένοι σταθμοί εργασίας για την πρόσβαση 
        στο διαδίκτυο και τη χρήση ψηφιακών εκπαιδευτικών εφαρμογών μέσα από 
        ένα σύγχρονο περιβάλλον επικοινωνίας. Ο ήδη υπάρχων εξυπηρετητής του 
        παλαιωμένου εργαστηρίου θα μπορεί, αν υπάρχει η δυνατότητα, να 
        αναβαθμίζεται ή να αντικαθίσταται. Και στις δύο περιπτώσεις θα μπορεί 
        να καλύψει τις ανάγκες πρόσβασης στο διαδίκτυο και της χρήσης των 
        ψηφιακών υποδομών του σχολείου.
    </p><p>
        Θα υπάρχει δυνατότητα να αντικαθίσταται παλαιωμένος μη λειτουργικός 
        εξοπλισμός όπως οθόνες, πληκτρολόγια, κάμερες, κάρτες μνήμης κλπ, καθώς 
        επίσης και να συμπληρώνεται ο υπάρχων εξοπλισμός με νέα ψηφιακά εργαλεία
        όπως για παράδειγμα switches, δομημένη καλωδίωση, ασύρματη δικτύωση κλπ 
        αλλά και άλλα ψηφιακά εποπτικά εργαλεία για τα οποία, μέσω της αίτησης, 
        θα αποδεικνύεται η ανάγκη προμήθειάς τους και η προοπτική χρήσης τους 
        από τη σχολική μονάδα.
    </p><p>
        Επιπλέον, θα υπάρχει η δυνατότητα αν υπάρχει η κατάλληλη υποδομή πχ κενή
        αίθουσα, να αναπτυχθεί στη σχολική μονάδα ένα επιπλέον εργαστήριο 
        ψηφιακών μέσων και να εξοπλισθούν άλλα υπάρχοντα εργαστήρια όπως 
        φυσικών επιστημών, τεχνολογίας κλπ με σύγχρονα ψηφιακά εργαλεία.
    </p><p>
        Η προσπάθεια θα στηριχθεί στη χρήση ανοικτών τεχνολογιών και 
        περιεχομένου σε όλες τις βαθμίδες της εκπαίδευσης με εξασφαλισμένη 
        διαλειτουργικότητα με τις κεντρικές υποδομές ΠΣΔ και ειδικότερα με 
        τις υποδομές εγγραφής και πιστοποίησης σχολείων, εκπαιδευτικών και 
        μαθητών.
    </p><p>
        Για την επιλογή του σχολείου σας σε αυτή τη πιλοτική δράση, θα 
        αξιολογηθεί :
    </p>
    <ul>
        <li>η παλαιότητα του υπάρχοντος εξοπλισμού, </li>
        <li>η εμπειρία του σχολείου σε ψηφιακές εκπαιδευτικές δράσεις,</li>
        <li>η εμπειρία και ο βαθμός γνώσης και χρήσης των ΤΠΕ από τους 
            εκπαιδευτικούς του σχολείου,</li>
        <li>καθώς και η αποτύπωση ενός σχεδίου ανάπτυξης των ΤΠΕ στην μαθησιακή
            διαδικασία της σχολικής μονάδας.</li>
    </ul>
    <p>Για αυτό παρακαλείσθε να συμπληρώσετε με προσοχή τις επόμενες καρτέλες όπου θα αποτυπώσετε τα παραπάνω στοιχεία.
    </p><p>
        Σε κάθε καρτέλα υπάρχει εισαγωγικό κείμενο με οδηγίες και tip σε σημεία που χρειάζεται. Σε καθημερινή βάση θα εμπλουτίζεται σελίδα με τις πιο συχνές ερωτήσεις (FACs) την οποία μπορείτε να συμβουλεύεσθε, ενώ θα διατίθεται helpdesk με τη μορφή forum  μέσω του οποίου θα απαντώνται τα ερωτήματα των σχολείων.
    </p>
{% endblock %}