<a href="/files/edulabs-perigrafi.odt">
    <h1 class="col-xs-12">
        <hr>
        Τι είναι ένα σχολικό εργαστήριο ανοιχτών τεχνολογιών;
    </h1>
</a>
<div class="col-xs-12">
    <hr>
    <p><strong>Το σχολικό εργαστήριο ανοιχτών τεχνολογιών
            μπορεί να χαρακτηριστεί ως ένα διαφορετικό
            σχολικό εργαστήριο**.</strong> Η διαφορετικότητά
        του εντοπίζεται σε κυρίως δύο άξονες:
        στην τεχνολογική υποδομή και στην δυνητική διδακτική
        αξιοποίησή του.</p>

    <p><strong>Στην
            ιδανική του μορφή, ένα εργαστήριο
            ανοιχτών τεχνολογιών έχει συσταθεί και
            λειτουργεί αποκλειστικά με ανοιχτό
            υλικό (open hardware)και
            λογισμικό (open software).</strong> Το γεγονός αυτό εντάσσει
        αυτόματα τους ανθρώπους που θα δουλέψουν
        μέσα σε αυτό (εκπαιδευτικούς
        και μαθητές)σε μια ευρύτερη
        κοινότητα ανθρώπων, των οποίων κύριο
        μέλημα είναι η ελεύθερη πρόσβαση στη
        γνώση, η διάχυση κάθε νέας γνώσης και
        κάθε καλής πρακτικής. Στην
        πράξη αυτό σημαίνει πως ο υπεύθυνος του
        εργαστηρίου ανοιχτών τεχνολογιών θα
        έχει στη διάθεσή του επεκτάσεις και
        τεχνική υποστήριξη κάθε χρονική στιγμή,
        πρόσβαση σε πληθώρα πληροφοριών τεχνικής
        φύσης, αλλά και σε διδακτικό υλικό.
    </p>
    <p><strong>Οι ανοιχτές τεχνολογίες επιτρέπουν την
            πρόσβαση στο υλικό και την αλληλεπίδραση
            με αυτό. Χαρακτηριστικά παραδείγματα 
            το <a href="https://www.arduino.cc/" target="_blank">Arduino</a>,
            το <a href="https://www.raspberrypi.org/" target="_blank">RaspberryPI
            </a>, το <a href="http://reprap.org/" target="_blank">REPRAP</a>,
            κλπ</strong>. Το Arduino ως
        προγραμματιζόμενος επεξεργαστής-ελεγκτής,
        ικανός να οδηγήσει κάθε αναλογική ή
        ψηφιακή ηλεκτρονική διάταξη (π.χ.
        σένσορες) και το RaspberryPI ως
        μικροϋπολογιστής διαθέτοντας όλα τα
        χαρακτηριστικά ενός τυπικού υπολογιστή,
        αποτελούν δύο ισχυρά εργαλεία για την
        εισαγωγή και εμβάθυνση στο physical
        computing. Απομυθοποιούν
        την τεχνολογία και αποκαλύπτουν το "τι
        υπάρχει από πίσω". <strong>Η
            πληροφορική και οι συγγενείς προς αυτήν
            επιστήμες παύουν να αποτελούν  ακατανόητο
            ή εχθρικό περιβάλλον και ως φυσική
            συνέπεια ακολουθεί η ενθάρρυνση της
            δοκιμής, του πειραματισμού, η υποστήριξη
            της εφευρετικής σκέψης και της
            δημιουργικότητας.</strong></p>
    <p>Η
        δυνητική διδακτική αξιοποίηση ενός
        εργαστηρίου ανοιχτών τεχνολογιών είναι
        ευρύτατη, τόσο από πλευράς θεματολογίας
        που μπορεί να καλύψει όσο και από πλευράς
        γνώσεων, δεξιοτήτων και στάσεων που
        καλλιεργεί.</p>

    <p><strong>Ο
            κύκλος ζωής μιας κατασκευής, την οποία
            θα υλοποιήσουν οι μαθητές στο εργαστήριο
            ανοιχτών τεχνολογιών, ξεκινά με την
            γενική περιγραφή του τελικού στόχου
            (“τι θα φτιάξουμε”).</strong> Ο καταιγισμός
        ιδεών, η ανοιχτή και δημοκρατική ανταλλαγή
        απόψεων, η επιχειρηματολογία υπέρ της
        προτεινόμενης ιδέας και η ενσυνείδηση
        αποδοχή πιθανών ρίσκων, είναι διδακτικές
        τεχνικές που ενδυναμώνουν την ανάληψη
        πρωτοβουλίας και υποστηρίζουν την
        καινοτομία.</p>

    <p>Ακολουθεί
        η φάση της ανάλυσης και της καταγραφής
        και αιτιολόγησης των απαιτήσεων, τόσο
        από πλευράς υλικού όσο και από πλευράς
        λογισμικού (“τι χρειαζόμαστε και
        γιατί”). Ενεργοποιείται σε πολύ μεγάλο
        βαθμό η αναλυτική και συνθετική σκέψη.</p>

    <p>Κατά
        την φάση του σχεδιασμού και της αξιολόγησής
        του ("ας ζωγραφίσουμε το κύκλωμα στο
        χαρτί ή πχ στο fritzing.org", "τι
        θα κάνει το πρόγραμμα αν συμβεί η τάδε
        περίπτωση", κλπ), ενδέχεται
        να προκύψουν τροποποιήσεις των απαιτήσεων,
        αναζήτηση εναλλακτικών υλικών, αλλαγές
        στην λειτουργία της κατασκευής. <strong>Πρόκειται
            για την κατεξοχήν φάση που στηρίζεται
            στην κριτική σκέψη και που καλλιεργεί
            την υπεύθυνη λήψη αποφάσεων. </strong>
    </p>
    <p>Η
        οριστικοποίηση του σχεδιασμού δίνει
        το έναυσμα για την έναρξη της υλοποίησης,
        φάση η οποία διαρκεί χρονικά περισσότερο
        και που χαρακτηρίζεται από έντονη
        αναζήτηση πληροφοριών, ανταλλαγή γνώσεων
        και εμπειριών, κριτική αντιμετώπιση
        ιδεών, αποδοχή ή απόρριψη λύσεων,
        αναζήτηση βέλτιστων μεθόδων,
        προγραμματιστική σκέψη. Παράλληλα, <strong>η
            φάση της υλοποίησης ενδυναμώνει τις
            δημιουργικές δεξιότητες των μαθητών ή
            τους ωθεί στην απόκτησή τους (χειρισμός
            εργαλείων, χειροτεχνική επιδεξιότητα,
            εύρεση λύσεων κατασκευαστικής φύσης).</strong>
        Η ανάγκη επίλυσης μικρότερων ή μεγαλύτερων
        προβλημάτων που προκύπτουν είναι συχνή
        και καλλιεργεί την επιμονή.</p>

    <p>Τέλος,
        <strong>η παρουσίαση της κατασκευής εντός
            ή εκτός της σχολικής κοινότητας,
            αποτελεί την ηθική επιβράβευση αλλά
            και μια ευκαιρία δημόσιας υποστήριξης
            της ιδέας που υλοποιήθηκε. </strong>
    </p>

    <p>Περνώντας
        από τις φάσεις αυτές μπορούν να υλοποιηθούν
        <strong>(α) προγραμματιστικές ιδέες</strong> σε
        διάφορες γλώσσες προγραμματισμού, όπως
        γραφικά πραγματικού χρόνου, παιχνίδια,
        προσομοιώσεις απλών πειραμάτων,
        αλγόριθμοι κρυπτογραφίας, ιστοσελίδες
        και βάσεις δεδομένων,<strong> (β) ιδέες που
            συνδυάζουν υλικό και λογισμικό</strong>, όπως
        κατασκευές που αλληλεπιδρούν με το
        περιβάλλον και ρομποτικές κατασκευές,
        <strong>(γ) ιδέες που απαιτούν επικοινωνία δύο
            υπολογιστικών συστημάτων</strong>, για
        παράδειγμα ενός Arduino και
        ενός RaspberryPI, <strong>(δ) ιδέες
            που βασίζονται στην ασύρματη επικοινωνία</strong>,
        <strong>(ε) ιδέες με ιδιαίτερη χρήση υλικού
            και προγραμματισμού</strong> του σε χαμηλό
        επίπεδο, κλπ.</p>

    <p><strong>Ο
            βαθμός </strong><strong>πολυπλοκότητας </strong><strong>κάθε
            κατασκευής εξαρτάται από την βαθμίδα
            εκπαίδευσης και από τις προϋπάρχουσες
            γνώσεις και εμπειρίες.</strong> Σε κάθε περίπτωση
        όμως, η εκμετάλλευση των δυνατοτήτων
        που προσφέρει το εργαστήριο ανοιχτών
        τεχνολογιών ουσιαστικά δημιουργεί
        συνθήκες αυθεντικής μάθησης. <strong>Εάν ο
            εκπαιδευτικός κατορθώσει να δημιουργήσει
            ένα κλίμα αποδοχής και ελεύθερης
            συνεργασίας στον χώρο του εργαστηρίου,
            θα έχει επιτύχει το βέλτιστο περιβάλλον
            μάθησης.</strong> Σε αυτό το περιβάλλον και σε
        συνδυασμό με την ύπαρξη της υλικοτεχνικής
        υποδομής των ανοιχτών τεχνολογιών, οι
        μαθητές μπορούν πραγματικά να μεταμορφωθούν
        σε μικρούς δημιουργούς και το σχολικό
        εργαστήριο από αίθουσα διδασκαλίας σε
        χώρο μάθησης.</p>

    <p>Από
        την άλλη πλευρά, <strong>το εργαστήριο ανοιχτών
            τεχνολογιών χάνει σημαντικό μέρος της
            πρόσθετης αξίας του όταν η διδασκαλία
            σε αυτό περιοριστεί την θεωρητική
            παρουσίαση νέων γνώσεων και στην εκτέλεση
            μικρών εργαστηριακών ασκήσεων.</strong></p>

    <hr>
    <p>**Ένα
        αντιπροσωπευτικό παράδειγμα λειτουργίας
        εργαστηρίου ανοιχτών τεχνολογιών είναι
        οι 21  εργασίες που υλοποιήθηκαν από
        μαθητές του 5 ΓΕΛ Βύρωνα, συνοπτική
        παρουσίαση <a href="https://edu.ellak.gr/2016/06/07/simmetochi-stin-evropaiki-evdomada-dimiourgon-tou-scholikou-hackerspace-tou-5ou-gel-virona/" target="_blank"><strong>εδώ</strong></a>.
    </p>
<a href="/files/APOFASI_EGKRISIS_PRODIAGRAFON_EXOPLISMOU_TPE.pdf">
    <h1 class="col-xs-12">
        <hr>
        ΠΡΟΔΙΑΓΡΑΦΕΣ ΕΞΟΠΛΙΣΜΟΥ ΕΡΓΑΣΤΗΡΙΩΝ edulabs
    </h1>
</a>
</div>
