{% extends "layout.twig" %}
{% block content %}
    <div class="jumbotron home">
        <div class="col-md-3 text-center">
            <img src="{{ base_url() }}/img/minedu_logo.jpg" class="img-responsive">
        </div>
        <h1 class="col-md-9">Καταγραφή και αναβάθμιση υποδομών πληροφορικής και επικοινωνιών των σχολείων </h1>
        <div class="clearfix"></div>
        <p class="text-justify"> 
            <span class="clearfix visible-xs"></span>
            Η αναβάθμιση αφορά συγκεκριμένες παρεμβάσεις στις υποδομές 
            Τεχνολογιών Πληροφορικής και Επικοινωνιών των Σχολείων, στις περιπτώσεις 
            που κρίνεται απαραίτητη θα υλοποιείται με ανοιχτές τεχνολογίες και με 
            νέο εξοπλισμό (υλικό και λογισμικό) όπου απαιτείται. </p>
        <p class="text-justify"> Η επιλογή των σχολείων 
            θα γίνεται σταδιακά και θα ξεκινήσει από τα σχολεία που θα καταθέσουν 
            την πιο πλήρη εκπαιδευτική πρόταση για τον τρόπο αξιοποίησης των 
            προτεινόμενων αναβαθμίσεων στη καθημερινή διδακτική διαδικασία.</p>
        <p class="text-justify"> Η αναβάθμιση των υποδομών θα γίνει και με την αξιοποίηση παλαιού 
            εξοπλισμού ή/και την ανάπτυξη σύγχρονων εργαστηρίων χαμηλού κόστους 
            και μεμονομένων θέσεων εργασίας, με την χρήση του LTSP, του ΕΠΟΠΤΗ 
            και του λειτουργικού συστήματος Ubuntu Linux.</p>
        {% if not identity() %}
        <div class="text-center">
            <a href="{{ path_for('user.login') }}" class="btn btn-lg btn-success">Σύνδεση</a>
        </div>            
        {% endif %}
    </div>
{% endblock %}