{% extends "layout.twig" %}
{% block content %}
    <div class="jumbotron home">
        <div class="col-md-5 text-center">
            <img src="{{ base_url() }}/img/minedu_logo.jpg" class="img-responsive">
        </div>
        <h1 class="col-md-7">Καλώς ήρθατε στην εφαρμογή Καταγραφής και Αναβάθμισης Ψηφιακών Υποδομών Σχολείων</h1>
        <div class="clearfix"></div>
        <p class="text-justify"> 
            <span class="clearfix visible-xs"></span>
            Η αναβάθμιση αφορά συγκεκριμένες παρεμβάσεις στις ψηφιακές υποδομές του σχολείου που βελτιώνουν την παιδαγωγική–διδακτική διαδικασία. Θα στηρίζεται σε ανοιχτές τεχνολογίες και πρότυπα, θα αφορά υπολογιστές, συστήματα ρομποτικής και αισθητήρων, τρισδιάστατους εκτυπωτές και βοηθητικό εξοπλισμό.
        </p>
        <p>Μετά την προσεκτική ανάγνωση των <a href="{{ path_for('about') }}">οδηγιών</a>, προχωρήστε στην αποτύπωση</p>
        <ol>
            <li>των υφιστάμενων υποδομών ΤΠΕ,</li>
            <li>των εκπαιδευτικών που χρησιμοποιούν ή/και επιθυμούν να χρησιμοποιήσουν τις ΤΠΕ στη καθημερινή διδακτική διαδικασία και</li>
            <li>της πρότασής σας (αίτηση),</li>
        </ol>
        <p class="text-justify">για την αναβάθμιση των ψηφιακών υποδομών του σχολείου σας.</p>
        <p>Καλή Επιτυχία<br>Εκ μέρους της ομάδας διαχείρισης</p>
        {% if not identity() %}
        <div class="text-center">
            <a href="{{ path_for('user.login') }}" class="btn btn-lg btn-success">Σύνδεση</a>
        </div>            
        {% endif %}
    </div>
{% endblock %}