{% extends "layout.twig" %}
{% block content %}
    <div class="jumbotron home">
        <div class="col-md-5 text-center">
            <img src="{{ base_url() }}/img/minedu_logo.jpg" class="img-responsive">
        </div>
        {% include 'msgs/' ~ content|default('welcome') ~ '.twig' %}
    </div>
{% endblock %}