<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>GrEduLabs</title>
        <link href="{{ base_url() }}/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>GrEduLabs</h1>
        <div>Welcome!</div>
    </body>
</html>